---
title: Sobre a Vitorian Steampunk
menu-title: Sobre
name: sobre
---

<div class="wrapper sobre-inner" data-grid="center">
    <div data-cell="1of2"></div>
    <div data-cell="1of2" class="wrapper hero">
        {% for about in site.pages %}
            {% if about.permalink == '/conceito/' %}
                <h2>{{ about.title }}</h2>
                <p>{{ about.excerpt }}</p>
                <p><a href="{{ site.baeurl }}{{ about.url }}">Conheça o conceito steampunk...</a></p>
            {% endif %}
        {% endfor %}
    </div>
</div>