---
title: Citação
name: citacao
---

<div data-grid="center" class="site-decoration">{% include svg/floral-design-1.svg %}</div>

<div class="wrapper">
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tenetur, aliquid numquam eveniet culpa laudantium nesciunt voluptatem, quod atque illum alias officiis assumenda perferendis commodi facilis magni autem at consequuntur.</p>
    </blockquote>
</div>

<div data-grid="center" class="site-decoration">{% include svg/floral-design-2.svg %}</div>