---
title: Redes sociais
name: social
---

<hr>

<div class="wrapper" data-text="center">
    <h2>Mantenha-se conectado</h2>
    <p data-text="display">Siga-nos em todas as redes sociais:</p>
    <ul data-grid="row center spacing" class="seamless">
        <li data-cell="shrink"><a href="https://www.facebook.com/vitoriansteampunk/" target="_blank" class="icon xl">{% include svg/facebook.svg %}</a></li>
        <li data-cell="shrink"><a href="https://www.instagram.com/vitoriansteampunk/" target="_blank" class="icon xl">{% include svg/instagram.svg %}</a></li>
        <li data-cell="shrink"><a href="https://br.pinterest.com/edusomensari/" target="_blank" class="icon xl">{% include svg/pinterest.svg %}</a></li>
    </ul>
</div>

<hr>
