---
title: Redes sociais
name: social
---

<div data-grid="center" class="site-decoration">{% include svg/floral-design-1.svg %}</div>

<div class="wrapper">
    <h2>Mantenha-se conectado</h2>
    <p>Siga-nos em todas as redes sociais:</p>
    <ul data-grid="row wrap center spacing" class="seamless">
        <li data-cell="shrink"><a href="https://www.facebook.com/vitoriansteampunk/" target="_blank" class="icon xl">{% include svg/facebook.svg %}</a></li>
        <li data-cell="shrink"><a href="https://www.instagram.com/vitoriansteampunk/" target="_blank" class="icon xl">{% include svg/instagram.svg %}</a></li>
        <li data-cell="shrink"><a href="https://br.pinterest.com/vitoriansteampunk/" target="_blank" class="icon xl">{% include svg/pinterest.svg %}</a></li>
    </ul>
</div>

<div data-grid="center" class="site-decoration">{% include svg/floral-design-2.svg %}</div>