---
title: Todos os produtos
permalink: "/produtos/"
layout: page
menu-title: Produtos
---

{% for produto in site.produtos reversed %}

<hr>

<article data-grid="start spacing" class="wrapper">
    <div data-cell="1of3 fill"><div class="produtos-frame"><img src="{{ site.baseurl }}{{ produto.image }}" alt="{{ produto.title }}"></div></div>
    <div data-cell="2of3 fill">
        <h2><a href="{{ site.baseurl }}{{ produto.url }}">{{ produto.title }}</a></h2>
        <p><small>Modelo {{ produto.ref }}</small></p>
        {{ produto.content | truncatewords: 30 }}
        <p data-grid="center spacing justify">
            <a href="{{ site.baseurl }}{{ produto.url }}" data-cell="shrink">Mais detalhes...</a>
            {% if produto.paycode %}
                <a href="{{ produto.paycode }}" data-btn data-cell="shrink">COMPRAR</a>
            {% endif %}
        </p>
    </div>
</article>

{% endfor %}

{% include social.html %}