---
layout: page
title: Todos os produtos
menu-title: Produtos
permalink: /produtos/
---

{% for produto in site.produtos %}

<hr>

<article data-grid="start spacing" class="wrapper">
    <div data-cell="1of3"><div class="produtos-frame"><img src="{{ site.baseurl }}/img/produtos/{{ produto.ref }}.jpg" alt="{{ produto.title }}"></div></div>
    <div data-cell="2of3">
        <h2><a href="{{ site.baseurl }}{{ produto.url }}">{{ produto.title }}</a></h2>
        <p><small>#{{ produto.ref }}</small></p>
        {{ produto.content | truncatewords: 30 }}
        <p data-grid="center spacing justify">
            <a href="{{ site.baseurl }}{{ produto.url }}" data-cell="shrink">Mais detalhes...</a>
            {% if produto.paycode %}
                <a href="{{ produto.paycode }}" data-btn data-cell="shrink">COMPRAR</a>
            {% endif %}
        </p>
    </div>
</article>

{% endfor %}

<hr>
