<footer class="site-footer">

  <div class="wrapper">

    <div data-grid="center spacing">

      <div data-cell="1of3 stretch" class="svg-container">{% include favicon.svg %}</div>

      <div data-cell="2of3">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p>{{ site.description }}</p>
      </div>

      <div data-cell="shrink">
        <p><a href="{{ site.baseurl }}/">Home</a></p>
        {% for my_page in site.pages %}
          {% if my_page.menu-title %}
          <p><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menu-title }}</a></p>
          {% endif %}
        {% endfor %}
        <p><a href="#contato" onclick="ga('send', 'event', 'Contato', 'Abrir formulário', 'Rodapé');">Pedidos</a></p>
      </div>

    </div>

  </div>

</footer>
