<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>
    
    <div data-grid="center spacing">
      <div data-cell="1of3 stretch" class="svg-container">{% include favicon.svg %}</div>
      <div data-cell="1of3">{{ site.description }}</div>
      <div data-cell="shrink">
        <ul class="seamless">
          <li>Empresa</li>
          <li>Produtos</li>
          <li>Facebook</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
