.site-header
    height: 56px
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    a
        color: $brand-color

.site-title 
    font:
        size: 26px
        weight: 300
    line-height: 56px
    letter-spacing: -1px
    margin-bottom: 0
    float: left
    svg
        vertical-align: text-top

.site-nav 
    float: right
    line-height: 56px

    .menu-icon 
        display: none

    .page-link
        line-height: $base-line-height
        margin-left: 20px
        font-family: $ui-font-family
        text-transform: uppercase
        letter-spacing: 1px

    +media-query($on-palm) 
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        background-color: $background-color
        border: 1px solid $grey-color-light
        border-radius: 5px
        text-align: right

        .menu-icon 
            display: block
            float: right
            width: 36px
            height: 36px
            line-height: 0
            padding-top: 10px
            text-align: center

            > svg 
                width: 18px
                height: 15px
                color: inherit

                path 
                    fill: currentcolor

        .trigger 
            clear: both
            display: none

        &:hover .trigger 
            display: block
            padding-bottom: 5px

        .page-link 
            display: block
            padding: 5px 10px
            
            margin-left: 20px

.site-footer
    position: relative
    padding: $spacing-unit * 2 0
    background-color: $ocre
    color: $dourado
    text-shadow: -1px 1px 0 #000
    border-top: 2px solid $dourado
    box-shadow: 0 0 0 3px $ocre
    +media-query($on-palm)
        text-align: center
    &:before, &:after
        position: absolute
        top: 0
        z-index: 9
        width: 70px
        height: 69px
    &:before
        content: url('/img/corner-square-top-left.png')
        left: 0
    &:after
        content: url('/img/corner-square-top-right.png')
        right: 0
    .svg-container
        width: 100%
        +media-query($on-palm)
            flex-basis: 149px
            height: 149px

.footer-heading
    font-family: $base-font-family
    letter-spacing: 5px
    +media-query($on-palm)
        font-size: 20px
    +media-greater($on-palm)
        font-size: 42px

.page-content 
    padding: $spacing-unit * 2 0

.page-heading 
    font-size: 20px

.post-list 
    margin-left: 0
    list-style: none

    > li 
        margin-bottom: $spacing-unit

.post-meta 
    font-size: $small-font-size
    color: $grey-color

.post-link 
    display: block
    font-size: 24px

.post-header 
    margin-bottom: $spacing-unit

.post-title 
    font-size: 42px
    letter-spacing: -1px
    line-height: 1

    @include media-query($on-laptop) 
        font-size: 36px

.post-content 
    margin-bottom: $spacing-unit

    >
        h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure
            @extend .wrapper
        
        blockquote
            padding-left: $spacing-unit * 2
            padding-right: $spacing-unit * 2

    h2 
        font-size: 32px

        @include media-query($on-laptop) 
            font-size: 28px

    h3 
        font-size: 26px

        @include media-query($on-laptop)
            font-size: 22px

    h4 
        font-size: 20px

        @include media-query($on-laptop) 
            font-size: 18px

.display-text
    font-size: 22px
    font-weight: 600
    color: $hero-color
    line-height: 1
    text-transform: uppercase
    text-shadow: -.05em .05em 0px $ui-color-2

.section-home
    background:
        color: $bg-dark-color
        image: url(/img/room-dark.jpg)
        repeat: no-repeat
        position: top center
        size: cover
    padding-bottom: 80vmin
    .home-content
        height: 500px
        padding-top: 60px
        padding-bottom: 60px
    .home-excerpt
        @extend .display-text
        font:
            size: 42px
            family: $title-font-family
        letter-spacing: 5px
        +media-query($on-palm)
            font-size: 8vmin

.section-produtos

    .produtos-item
        flex: 0 0 260px
        margin: $spacing-unit / 2 $spacing-unit / 4

.produtos-frame
    display: block
    position: relative
    overflow: hidden
    width: 300px
    max-width: 100%
    padding-top: 120%
    border: 4px double $ocre
    border-radius: 6px
    transition: .3s ease-in-out
    img
        position: absolute
        top: 0
        left: 0
        z-index: -1
        transition: 2s ease-in-out
        transform: scale(1)
        backface-visibility: hidden
    .produto-title
        display: block
        padding: 40px
        position: absolute
        bottom: 0
        left: 0
        right: 0
        z-index: 1
        text-align: center
        font-weight: 600
        color: $dourado
        text-shadow: -1px 2px 0 #000
        line-height: 1.2
        letter-spacing: 1px
        background-image: linear-gradient(to bottom, transparent, #000)
    &:hover, &:focus
        box-shadow: 0 0 0 3px $dourado, 0 0 15px 5px $ocre
        outline: none
        img
            transform: scale(1.1)

.section-sobre
    background:
        image: url('/img/industrial-lamp.jpg')
        repeat: no-repeat
        position: center
        size: cover
    padding-top: $spacing-unit * 4
    padding-bottom: $spacing-unit * 4

.section-social
    +media-greater($on-palm)
        background:
            image: url('/img/vintage-objects.png')
            repeat: no-repeat
            position: right
            size: contain
