---
layout: default
---
<article class="page-content">

  <header class="wrapper large post-header" data-grid="spacing">
    <div data-cell="1of2"><img src="{{ site.baseurl }}/img/produtos/{{ page.ref }}.jpg" alt="{{ page.title }}"></div>
    <div data-cell="1of2">
      <h1 class="post-title">{{ page.title }}</h1>
      <p>#{{ page.ref }}</p>
      {% if page.paycode %}
        <p>
          <a href="{{ page.paycode }}" data-btn="">
            COMPRE AGORA 
            {% if page.price %}
              R${{ page.price }}
            {% endif %}
          </a>
        </p>
      {% endif %}
    </div>
  </header>

  <div class="post-content">
    <div data-grid="center" class="site-decoration">{% include svg/floral-design-1.svg %}</div>
    {{ content }}
    <div data-grid="center" class="site-decoration">{% include svg/floral-design-2.svg %}</div>
  </div>

</article>
