---
layout: default
---
<article class="page-content">

  <header class="wrapper large post-header" data-grid="start spacing">
    <div data-cell="1of2"><div class="produtos-frame"><img src="{{ site.baseurl }}/img/produtos/{{ page.ref }}.jpg" alt="{{ page.title }}"></div></div>
    <div data-cell="1of2">
      <h1 class="post-title">{{ page.title }}</h1>
      <p>#{{ page.ref }}</p>
      {% if page.paycode %}
        <p>
          <a href="{{ page.paycode }}" data-btn="">
            COMPRE AGORA 
            {% if page.price %}
              R${{ page.price }}
            {% endif %}
          </a>
        </p>
      {% endif %}
      <hr>
      {{ content }}
      <hr>
    </div>
  </header>

</article>
